/* Replace later */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 0px;
    margin: auto; 
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    max-width: 400px;  
    width: 100%;
    align-content: center;
    height: 100vh;
  }

  .form-header { 
    text-align: center;
  }

  .form-header h1 {
    color: black; 
    font-size: 46px;
    width: 100%;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
  }
  
  .form-button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background-color: #007bff;
    color: white;
    border: none; 
    cursor: pointer;
    border-radius: 18px;
    transition: background-color 0.2s ease-in-out;
    background: linear-gradient(to right, #4caf50, rgb(160, 241, 67));
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 18px;
}

 

  
  .form-button:hover {
    background-color: #0056b3;
    background: linear-gradient(to right, rgb(160, 241, 67), rgb(160, 241, 67));
    
  }


  .spinner-signin-container {
    display: flex;
    justify-content: left;
  }
  
  .spinner-signin {
    width: 80px;
    height: 80px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4caf50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  